/**
  * Slide
  */

html.is-changing .transition-slide {
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.transition-slide.is-next-container {
  transform: translateX(100%);
  /* opacity: 0; */
}

.transition-slide.is-previous-container {
  transform: translateX(-100%);
  /* opacity: 0; */
}


/**
  * Fade
  */

html.is-changing .transition-fade,
.transition-fade.is-changing {
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

html.is-animating .transition-fade,
.transition-fade.is-animating {
  opacity: 0;
}

/**
  * Fade: ViewTransition API
  */

.transition-main {
  view-transition-name: main;
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.75s;
} */

@keyframes move-out {
  from {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%) translateY(20vh);
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%) translateY(-20vh);
    opacity: 0;
  }
  to {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
  }
}

::view-transition-old(main) {
  animation: 0.4s ease-in-out both move-out;
}

::view-transition-new(main) {
  animation: 0.4s ease-in-out both move-in;
}

/* Fallback for non-supported browsers */
.is-changing .transition-main,
.transition-main.is-changing {
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

.is-animating .transition-fade,
.transition-fade.is-animating {
  opacity: 0;
}

/**
  * Fade: prev/next
  */

.transition-fade.is-next-container {
  transform: translateX(100%);
}

.transition-fade.is-previous-container {
  transform: translateX(-100%);
}

/**
  * Filter
  */

.transition-filter.is-changing {
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.transition-filter.is-animating {
  opacity: 0;
}

.transition-filter.is-next-container,
.transition-filter.is-previous-container {
  opacity: 0;
}

[data-swup-scroll-target] {
  background: red;
}

/* :target {
  background: blue;
} */
