/**
  * CSS Page Transition: Slide (Parallel)
  */

html.is-changing .page-transition-parallel-slide {
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.page-transition-parallel-slide.is-next-container {
  transform: translateX(100%);
  opacity: 0;
}

.page-transition-parallel-slide.is-previous-container {
  transform: translateX(-100%);
  opacity: 0;
}


/**
  * CSS Page Transition: Fade
  */

html.is-changing .page-transition-fade,
.page-transition-fade.is-changing {
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

html.is-animating .page-transition-fade,
.page-transition-fade.is-animating {
  opacity: 0;
}

/**
  * ViewTransition: native
  */

html.is-changing .page-transition-native {
  view-transition-name: main;
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0s;
} */

::view-transition-old(main) {
  animation: 0.3s ease-in-out both move-out;
}

::view-transition-new(main) {
  animation: 0.3s ease-in-out both move-in;
}

@keyframes move-out {
  from {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%) translateY(20vh);
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%) translateY(-20vh);
    opacity: 0;
  }

  to {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
  }
}

/* Fallback for non-supported browsers */
.swup-not-native.is-changing .page-transition-native,
.swup-not-native .page-transition-native.is-changing {
  animation: 0.3s ease-in-out both move-out;
  /* transition: opacity .4s ease-in-out, transform .4s ease-in-out; */
}

.swup-not-native.is-changing.is-rendering .page-transition-native,
.swup-not-native .page-transition-native.is-changing.is-rendering {
  animation: 0.3s ease-in-out both move-in;
  /* transition: opacity .4s ease-in-out, transform .4s ease-in-out; */
}

.swup-not-native.is-animating .page-transition-native,
.swup-not-native .page-transition-native.is-animating {
  opacity: 0;
}

/**
  * Fragment transitions
  */

.fragment-transition-filter.is-changing {
  view-transition-name: fragment-filter;
}

.fragment-transition-heading.is-changing {
  view-transition-name: fragment-heading;
}

::view-transition-old(fragment-filter),
::view-transition-old(fragment-heading) {
  animation: 0.3s ease-in-out both move-out;
}

::view-transition-new(fragment-filter),
::view-transition-new(fragment-heading) {
  animation: 0.3s ease-in-out both move-in;
}

.swup-not-native .fragment-transition-filter.is-changing {
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.swup-not-native .fragment-transition-filter.is-animating {
  opacity: 0;
}

.swup-not-native .fragment-transition-filter.is-next-container,
.swup-not-native .fragment-transition-filter.is-previous-container {
  opacity: 0;
}

[data-swup-scroll-target] {
  background: red;
}

/* :target {
  background: blue;
} */
