---
import Layout from '../layouts/Layout.astro';
import TestComponent from '../components/Test.svelte';
---

<Layout title="Client" classes="client">
	<article>
		<h1>Client</h1>
		<p class="instructions">
			Expecting an interactive clock and a clickable counter button.
		</p>
		<div class="instructions">
			<TestComponent client:visible />
		</div>
		<div class="instructions">
			<astro-heart>
				<button aria-label="Heart">💜</button> × <span>0</span>
			</astro-heart>
		</div>
	</article>

	<script>
		customElements.define('astro-heart', class extends HTMLElement {
			count = 0;
			constructor() {
				super();
				this.button = this.querySelector('button');
				this.label = this.querySelector('span');
				this.button.addEventListener('click', () => {
					this.increase();
					this.update();
				});
			}
			increase() {
				this.count++;
			}
			update() {
				this.label.textContent = this.count;
			}
		});
	</script>

</Layout>
