---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Focus" classes="focus">
	<article>
		<h1>Focus</h1>
		<p class="instructions">
			Check how swup focuses containers and autofocus elements.
		</p>
		<div class="instructions">
			<form>
				<input type="text" name="search" placeholder="Autofocused input" autofocus>
			</form>
		</div>
	</article>

</Layout>

<style>
	form {
		display: block;
	}
	input {
		width: 100%;
	}
	</style>
