---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Forms: inline" classes="forms">
	<article>
		<h1>Forms: inline</h1>
		<p class="section">
			Testing inline form submissions.
		</p>
		<h2>GET</h2>
		<div class="section">
			<form data-swup-form data-swup-inline-form id="form-inline-get" action="/forms-inline" class="transition-fade">
				<input type="text" name="first" placeholder="First name">
				<input type="text" name="last" placeholder="Last name">
				<select name="age">
					<option value="20">20-25</option>
					<option value="25">25-35</option>
					<option value="35">35-60</option>
				</select>
				<textarea name="message"></textarea>
				<button type="submit">Submit</button>
			</form>
		</div>
		<h2>POST</h2>
		<div class="section">
			<form data-swup-form data-swup-inline-form id="form-inline-post" action="/forms-inline" method="post" class="transition-fade">
				<input type="text" name="first" placeholder="First name">
				<input type="text" name="last" placeholder="Last name">
				<select name="age">
					<option value="20">20-25</option>
					<option value="25">25-35</option>
					<option value="35">35-60</option>
				</select>
				<textarea name="message"></textarea>
				<button type="submit">Submit</button>
			</form>
		</div>
	</article>
</Layout>

<style>
form {
	display: block;
}
input {
	width: 100%;
}
textarea {
	width: 100%;
}
select {
	width: 100%;
}
</style>
