---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to swup" classes="home">
	<section>
		<h1>Swup Test</h1>
		<p class="instructions">
			Testing Swup features and plugins.
		</p>
		<ul role="list" class="link-card-grid">
			<Card href="/scripts" title="Scripts" body="Inline scripts, hoisted script, and modules" classes="data-swup-preload" />
			<Card href="/client" title="Client" body="Client-side components and custom elements" />
			<Card href="/forms" title="Forms" body="Animated form submissions" />
			<Card href="/forms-inline" title="Forms inline" body="Inline form submissions" />
			<Card href="/scrolling" title="Scrolling" body="Scroll behavior" />
			<Card href="/fragments" title="Fragments" body="Dynamic container updates" />
		</ul>
	</section>
</Layout>
