---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Noscript" classes="noscript">
	<article>
		<h1>Noscript</h1>
		<p class="instructions">
			Checking support for parsing of `noscript` tags.
		</p>
		<p class="instructions instructions--noscript">
			This block should have a colored background if styles were loaded correctly.
		</p>
		<noscript>Noscript in content</noscript>
		<p class="instructions">
			This block should appear after a `noscript` tag.
		</p>
	</article>
	<noscript slot="head"><meta name="noscript" content="Noscript in head" /></noscript>
	<noscript slot="body">Noscript in body</noscript>
</Layout>

<style>
	.instructions--noscript {
		background: yellowgreen;
	}
</style>
