---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Scripts" classes="scripts">
	<article>
		<h1>Scripts</h1>
		<p class="section">
			Expecting two checkmarks in the box below.
		</p>
		<div class="card-stack">
			<div class="card">
				Hoisted script tag: <span id="script-hoisted-check">🚫</span>
			</div>
			<div class="card">
				Inline script tag: <span id="script-inline-check">🚫</span>
			</div>
		</div>
	</article>

	<script>
		console.log('Script: hoisted');
		const container = document.querySelector('#script-hoisted-check')
		container.innerHTML = '✅';
	</script>

	<script is:inline>
		{
			console.log('Script: inline');
			const container = document.querySelector('#script-inline-check')
			container.innerHTML = '✅';
		}
	</script>

	<script src="/src/modules/script.js"></script>
</Layout>
