---
import Layout from '../layouts/Layout.astro';
import '../styles/dark.css';
---

<Layout title="Styles" classes="styles">
	<article>
		<h1>Styles</h1>
		<p class="section">
			Expecting dark mode on this page without flicker.
		</p>
	</article>

	<!-- <link rel="stylesheet" href="/src/dark.css" /> -->
</Layout>
