---
import { rand } from '../../modules/util';
import Layout from '../../layouts/Layout.astro';

const names = [
	'Abigail Martinez',
	'Aiden Perry',
	'Alexander Taylor',
	'Andrew Bell',
	'Aubrey Washington',
	'Avery Morgan',
	'Benjamin Miller',
	'Brooklyn Foster',
	'Carter Jenkins',
	'Charlotte Hernandez',
	'Chloe Cooper',
	'Christopher Brooks',
	'Daniel Robinson',
	'David Ramirez',
	'Elijah Hayes',
	'Ella Price',
	'Emily Brown',
	'Ethan Thomas',
	'Grace Perez',
	'Grace Richardson',
	'Hannah Cox',
	'Harper Alexander',
	'Henry Ward',
	'Isaac Coleman',
	'Isabella Wilson',
	'James Jones',
	'Jane Smith',
	'John Doe',
	'Jonathan Griffin',
	'Joseph Peterson',
	'Joshua Ross',
	'Julian Reed',
	'Leah Howard',
	'Lillian Murphy',
	'Lily Flores',
	'Logan Reed',
	'Madison Anderson',
	'Matthew Gonzalez',
	'Michael Johnson',
	'Nathan Powell',
	'Noah Turner',
	'Olivia Williams',
	'Peyton Rivera',
	'Ryan Morris',
	'Samuel Gray',
	'Scarlett Stewart',
	'Sofia Diaz',
	'Sophia Davis',
	'Victoria Long',
	'William Lee',
	'Willow Brooks',
	'Zoe Watson',
];

---

<Layout title="Fragments" classes="fragments">
	<article>
		<h1>Fragments</h1>
		<p class="instructions">
			Update dynamic fragments.
		</p>

		<div class="instructions filters">
			<a href="/fragments">All</a>
			<a href="/fragments/filter-a-f">A-F</a>
			<a href="/fragments/filter-g-o">G-O</a>
			<a href="/fragments/filter-p-z">P-Z</a>
			<span>{rand()}</span>
		</div>

		<div id="names" class="instructions transition-filter">
				{names.map((name) => (<div>{name}</div>))}
		</div>

	</article>

</Layout>

<style>
	.filters {
		display: flex;
		gap: 1rem;
	}
	.filters span {
		margin-left: auto;
		opacity: 0.4;
	}
</style>
